<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA8tF3nim5RQ6OwXSNM388zwQK-5Ann6I</string>
	<key>GCM_SENDER_ID</key>
	<string>892558952283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Orcharrd.Orcharrd</string>
	<key>PROJECT_ID</key>
	<string>orcharrd-b1747</string>
	<key>STORAGE_BUCKET</key>
	<string>orcharrd-b1747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892558952283:ios:033a3f29b4e2b17fb0bc7e</string>
</dict>
</plist>